parameters:
	ignoreErrors:
		-
			message: '#^Trait Limenet\\LaravelDatetimeAttributes\\DateTimeTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/DateTimeTrait.php
