<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="tests/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <report>
      <clover outputFile="clover.xml"/>
      <html outputDirectory="build/coverage"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="build/testdox.txt"/>
  </logging>
</phpunit>
